/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
}

/*header*/
header {
    background-color: lightcoral;
}
/*main*/
main {
    background-color: lightblue;
     /* Enlarge main element to push footer down*/
     flex: 1 0 auto;
}
/*footer*/
Footer {
    background-color: orange;
}